<template>
<div>
    <div style="    height: 1000px;">
        <vue-jitsi-meet
            ref="jitsiRef"
            domain="meet.jit.si"
            :options="jitsiOptions"
        ></vue-jitsi-meet>
    </div>
</div>
</template>
<script>
import { JitsiMeet } from '@mycure/vue-jitsi-meet';
export default {
  props: ['events' ,'user'],
  name: 'meet',
  components: {
    VueJitsiMeet: JitsiMeet
  },
  data:()=>({
      event: [],
      slug: 'fjsdfhjaryufdfhjdhfj'
  }),
  watch: {
  },
  methods: {
    getClientProfile() {

    },
    getMyProfile() {

    },
    onIFrameLoad () {
     //  this.$refs.jitsiRef.executeCommand('roomName', 'test');
    },
    onParticipantJoined (e) {
        // do stuff
    },
  },
  mounted() {
  },
  computed: {
    jitsiOptions () {
      return {
        roomName: this.events.room_name,
        noSSL: false,
        userInfo: {
          email: this.user.email,
          displayName: this.user.name,
        },
        configOverwrite: {
          enableNoisyMicDetection: false
        },
        interfaceConfigOverwrite: {
          SHOW_JITSI_WATERMARK: false,
          SHOW_WATERMARK_FOR_GUESTS: false,
          SHOW_CHROME_EXTENSION_BANNER: false
        },
        onload: this.onIFrameLoad
      };
    },
  },
};
</script>
